@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg: #F2F2F2;
  --bg-alt: #FFFFFF;
  --btn-default-alt: #073042;
  --btn-install: #4873CA;
  --menu-button-active: #E0EFFE;
  --menu-border-active: #89B4F3;
  --menu-button-default: #F2F2F2;
  --menu-border-default: #E5E5E5;
  --card-bg-default: #F2F2F2;
  --card-border-default: #E5E5E5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}

/* container principal (máx 360px) */
.app {
  width: 100%;
  background-color: var(--bg);
  display: flex;
}

/* menu lateral */
.menu {
  max-width: 128px;          /* novo tamanho */
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch; 
}

/* botões menu */
.menu-btn {
  width: 100%;               /* ocupa toda a largura do menu */
  height: auto;
  min-height: 56px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--menu-border-default);
  background: var(--menu-button-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.menu .logo img,
.menu-btn img{
    width: 40px;
}

.menu-btn span {
  font-size: 12px;           
  font-weight: 700;
}

/* botão ativo: não mostra o texto */
.menu-btn.active span {
  display: none;
}

.menu-btn.active {
  background: var(--menu-button-active);
  border-color: var(--menu-border-active);
}


/* área de conteúdo */
.content {
  flex: 1;
  padding: 16px;
  max-width: 720px;
}

/* barra de pesquisa */
.pesquisa {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.pesquisa input {
  flex: 1;
  height: 40px;        
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
}

.btn-search {
  width: 40px;
  height: 40px;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
}

.btn-search img{
    width: 100%;
}

.main{
    background-color: var(--bg-alt);
    padding: 24px;
    border-radius: 16px;
    border: 1px solid var(--card-border-default);
}
/* seção recomendados */
.main .title {
  font-size: 18px;
  font-weight: 800;         
  margin-bottom: 16px;
}

/* card do app */
.card {
  border-radius: 8px;
  background: var(--card-bg-default);
  border: 1px solid var(--card-border-default);
  padding: 16px;
  margin-bottom: 16px;
}

.card-header {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  padding: 8px
}

.icon {
  width: 40px;
  height: 40px;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.card-desc {
  font-size: 12px;
}

.card-actions {
  display: flex;
  gap: 16px;
  padding: 8px;
}

.card-actions .btn {
  width: 100%;               /* button width 100% */
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 8px;
}

 .card-actions .btn-alt {
  background-color: var(--btn-default-alt);
}

.card-actions .btn-install {
  background-color: var(--btn-install);
}
