*{
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif, Roboto;
    --surface-bg: #F2F2F2;
    --color-white: #FFFFFF;
    --btn-default: #e0e0e0;
    --btn-default-hover: #d2d2d2;
    --btn-escolha-certa: #4873CA;
    --btn-escolha-certa-hover: #3154A9;
    --btn-escolha-errada: #F04040;
    --btn-escolha-errada-hover: #872424;
    --shadow:0 2px 8px rgba(0,0,0,0.25);
}

h1{
    font-size: 24px;
}

body{
    max-width: 400px;
    margin: 16px;
}

section{
    margin-bottom: 32px;
    display: flex;
    align-items: flex-start; /* Alinha ao topo */
    width: 100%;
    gap: 8px;
}

button{
    height: 32px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 16px;
}

button img {
    width: 24px;
    height: 24px;
    display: block;
}

input[type="search"] {
    height: 32px;
    min-width: 60px;
    padding: 0 10px;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
}

input[type="search"]::placeholder {
    line-height: 16px; 
}

ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 16px;
}

.width\:total{
    width: 100%;
}

.bg\:surface{
    background: var(--surface-bg) !important;
}

.btn\:default{
    background: var(--btn-default);
}

.btn\:default:hover{
    background: var(--btn-default-hover) !important;
}

.btn\:install{
    background: var(--btn-escolha-certa);
    color: var(--color-white);
}

.btn\:install:hover{
    background: var(--btn-escolha-certa-hover);
}

.btn\:uninstall{
    background: var(--btn-escolha-errada);
    color: var(--color-white);
}

.btn\:uninstall:hover{
    background: var(--btn-escolha-errada-hover);
}

.card{
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    margin-bottom: 12px;
    box-sizing: border-box;
    gap: 16px;
}

.card\:icon {
  /* Logo à esquerda */
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.card\:text {
  /* Container do título e botões */
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 24px;
}

/* Botões lado a lado, alinhados à direita */
.card\:actions {
  display: flex;
  gap: 12px;
}

/* CARROSSEL DE IMAGENS */
.card\:screenshots {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 8px;
  margin: 18px 0;
  width: 100%;
  max-width: 100%; /* garante limite */
  box-sizing: border-box;
}

.card\:screenshots img {
  height: 200px;
  width: auto;
  border-radius: 4px;
  box-shadow: var(--shadow);
  display: inline-block;
  border: 1px solid var(--btn-default-hover);
}

.icon {
    width: 40px;   /* ajuste conforme o tamanho desejado */
    height: 40px;
    display: block;
    border-radius: 16px;
}

.icon\:logo{
    width: 64px;
    height: 64px;
    border-radius: 16px;
}

.column{
    flex-direction: column;
}

.w\:32{
    width: 32px;
}

.flex\:1{
    flex: 1;
}


